install/pyenv/.DS_Store
install/update6.sh
.DS_Store
panel/.idea/.gitignore
panel/.idea/misc.xml
panel/.idea/modules.xml
panel/.idea/panel.iml
panel/.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
install/pyenv/.DS_Store
